.PlayButton {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlayIcon {
    display: block;
    width: 80%;
    height: 80%;
    fill: #fff;
    &.play {
        transform: translateX(2px);
    }
}