.Container {
  position: relative;
}
.TimeBar {
  display: flex;
  width: 100%;
  height: 56px;
  border-radius: 4px;
  overflow: hidden;
  > div {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
  }
  img {
    display: block;
  }
}
.Slider {
  height: 100%;
  position: absolute;
  top: 0;
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: 0 0 51px -12px rgba(0,0,0,0.75), 0px 0px 51px -12px rgba(255,255,255,0.75) inset;
}
.Handle {
  position: absolute;
  top: 0;
  height: 100%;
  width: 20px;
  cursor: col-resize;
  &.left {
    left: 0;
  }
  &.right {
      right: 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 60%;
    border-radius: 5000px;
    background-color: #fff;
    box-shadow: 1px 0px 17px 0px rgba(0,0,0,0.75);
  }
}
.Tooltip {
  position: absolute;
  bottom: 100%;
  padding-bottom: 10px;
  span {
    font-size: 12px;
    display: block;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #fff;
  }
}
.Dial {
  width: 4px;
  background-color: #e8e8e8;
  box-shadow: 2px 0 8px 0 rgba(0,0,0,0.15), -2px 0 8px 0 rgba(0,0,0,0.15), 2px 0 2px 0 rgba(0,0,0,0.05), -2px 0 2px 0 rgba(0,0,0,0.05);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}