.Wrapper {
  max-width: 1090px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.VideoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 49%;
    background-color: #000;
}

.Player {
    box-shadow: 0 0 51px 24px rgba(0,0,0,0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}