.ControlPanel {
    position: relative;
}

.PlayButton {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlayIcon {
    display: block;
    width: 60%;
    height: 60%;
    &.play {
        transform: translateX(2px);
    }
}

.VolumeBarContainer {
    background-color: black;
    border-radius: 8px;
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 8px;
    z-index: 2;
}